#hideText{
    display: none;
}

#textLink{
    cursor: pointer;
    color: rgb(199, 40, 69);
    font-weight: bold;
    text-decoration: underline;
    font-size: 17px;
}

h1{
        font-family: "Lobster", sans-serif;
        font-size: 40px;
        text-align: center;
        text-transform: capitalize;
          text-shadow: 10px 8px 10px #e6607d ;
  cursor: pointer;
}